# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Build output
/frontend/dist/
/frontend/node_modules/

# IDE/editor settings
.vscode/
.idea/
*.swp

# Optional: coverage and test output
coverage/
*.test.js.snap

# Jekyll build and cache folders
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler and vendor folders
.bundle/
vendor/

# Optional: ignore Gemfile.lock if using GitHub Pages
Gemfile.lock